.article-details{
  margin-top: 50px;

  .article-details-title{
    color:var(--secondary-color);
  }
  .article-details-description{
    color: var(--primary-color);
    margin:15px 0;
  }
  small{
    display: block;
    font-size: 0.9rem;
    font-style: italic;
    margin: 10px 0;
    color: grey;
  }

  .title{
    font-size: 2rem;
    color:var(--secondary-color);
    font-weight: bolder;
    display: block;
    margin-top: 50px;
  }
}