.home{
  padding: 25px 30%;
  background-color: var(--background-color);
  width: 100vw;
  min-height: 100vh;
  transition: all 400ms;
  p{
    color:var(--text-color);
    transition: all 400ms;
  }
}